@media (min-width: 350px)and (max-width: 520px) {
    .messageContainer {
        padding-left: 6px !important; /* Reduced from gap-10 (40px) to 2px */
    }
}
@media (min-width: 400px)and (max-width: 600px) {
    .buttonContainer {
        padding: 8px 30px 8px 30px !important;
        margin: 20px 0px 20px 18px !important;
    }
}
